<!DOCTYPE html>
<html>
<head>
  <title>Annotate the Web - Scribble</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'shared/google_analytics' %>
  <script src="http://apis.google.com/js/client:platform.js" async defer>
  </script>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <div id="content">
    <%= yield %>
  </div>

  <div id="scribble-modal-container"></div>

  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <%= include_gon namespace: 'scribble_bootstrap' %>

  <%= render 'shared/facebook_sdk' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <script>
    (function () {
      document.addEventListener('DOMContentLoaded', function () {
        window.scribble.init();
      })
    })();
  </script>
</body>
</html>
