<!DOCTYPE html>
<html>
<head>
  <title>Annotate</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if Rails.env == 'development' %>
    <%= render 'peek/bar' %>
  <% end %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <%= yield %>

  <script type="text/javascript">
    annotate.init();
  </script>

</body>
</html>
