<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= page_title %></title>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Vollkorn:400italic,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
  <%= stylesheet_link_tag "static", media: "all" %>
  <%= csrf_meta_tags %>
  <%= render 'shared/open_graph' %>
  <%= render 'shared/google_analytics' %>
</head>
<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : <%= Rails.application.config.fb[:app_id] %>,
        xfbml      : true,
        version    : 'v2.0'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

  <% flash.each do |key, value| %>
    <div class="row">
      <div class="small-12 column">
        <div class="alert alert-<%= key %>"><%= value %></div>
      </div>
    </div>
  <% end %>

  <%= yield %>

  <%= javascript_include_tag "static" %>

</body>
</html>
